{
    "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
    "rules": {
        "indent": [
            "warn",
            4,
            { "SwitchCase": 1, "ObjectExpression": 1, "ArrayExpression": 1 }
        ],
        "newline-per-chained-call": "warn",
        "no-multi-spaces": 2,
        "no-underscore-dangle": 0,
        "no-use-before-define": ["warn", { "functions": false }],
        "no-unused-expressions": "warn",
        "no-unused-vars": "warn",
        "no-empty-class": "off",
        "object-curly-spacing": [2, "always"],
        "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
        "no-var": "warn",
        "linebreak-style": ["error", "windows"],
        "multiline-ternary": ["off", "always"],
        "prettier/prettier": "error",
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "es6": true,
        "node": true
    }
}
